<div class="schedule">
    <div class="header">
      <h2>Match Schedule</h2>
      <h3>FIFA U-17 World Cup Indonesia 2023™</h3>
    </div>
    <div class="grid">
      <div class="grid-row header-row">
        <div class="grid-cell">Date</div>
        <div class="grid-cell">Day</div>
        <div class="grid-cell">Surabaya</div>
        <div class="grid-cell">Surakarta</div>
        <div class="grid-cell">Jakarta</div>
        <div class="grid-cell">Bandung</div>
      </div>
      <div *ngFor="let match of matches" class="grid-row">
        <div class="grid-cell">{{ match.date }}</div>
        <div class="grid-cell">{{ match.day }}</div>
        <div class="grid-cell" *ngIf="match.Stadium['SURABAYA']">
          <div>{{ match.Stadium['SURABAYA'].first_half?.time }} - {{ match.Stadium['SURABAYA'].first_half?.data }}</div>
          <div>{{ match.Stadium['SURABAYA'].second_half?.time }} - {{ match.Stadium['SURABAYA'].second_half?.data }}</div>
        </div>
        <div class="grid-cell" *ngIf="match.Stadium['SURAKARTA']">
          <div>{{ match.Stadium['SURAKARTA'].first_half?.time }} - {{ match.Stadium['SURAKARTA'].first_half?.data }}</div>
          <div>{{ match.Stadium['SURAKARTA'].second_half?.time }} - {{ match.Stadium['SURAKARTA'].second_half?.data }}</div>
        </div>
        <div class="grid-cell" *ngIf="match.Stadium['JAKARTA']">
          <div>{{ match.Stadium['JAKARTA'].first_half?.time }} - {{ match.Stadium['JAKARTA'].first_half?.data }}</div>
          <div>{{ match.Stadium['JAKARTA'].second_half?.time }} - {{ match.Stadium['JAKARTA'].second_half?.data }}</div>
        </div>
        <div class="grid-cell" *ngIf="match.Stadium['BANDUNG']">
          <div>{{ match.Stadium['BANDUNG'].first_half?.time }} - {{ match.Stadium['BANDUNG'].first_half?.data }}</div>
          <div>{{ match.Stadium['BANDUNG'].second_half?.time }} - {{ match.Stadium['BANDUNG'].second_half?.data }}</div>
        </div>
      </div>
    </div>
  </div>
  